{% extends "base.html" %}
{% block content %}

{% if questions %}

{% for question in questions %}
    <div class="jumbotron" style="overflow-wrap:break-word;">
        <blockquote>
            <p>
                <a href="{{url_for('Question_view',id=question.id)}}">{{question.text|truncate(100) |safe | nl2br}}</a>
            </p>
            <footer>
                <!--Asked {{question.timestamp | our_timestamp}}<br>--!>
                {% set latest = question.latest_answer() %}
                {% if latest %}
                    Last answered {{question.latest_answer() | our_timestamp}}
                {% else%}
                    Never been answered! Get involved!
                {% endif %}    
            </footer>
        </blockquote>
    </div>
    {% endfor %}
{% else %}
    {{ nohits }}
{% endif %}
{% endblock %}
